.wrap {
    margin: 5px 10px;
    box-sizing: border-box;
    // padding: 10px 15px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background: #fff;
    border-radius: 6px;
    padding: 6px;
    .title {
        height: 30px;
        width: 100%;
        .tr {
            height: 30px;
            line-height: 30px;
            font-size: 10px;
            color: #90959a;
            width: 100%;
            text-align: center;
            display: flex;
            .td1 {
                width: 24%;
                display: inline-block;
                color: white;
                font-size: 12px;
            }
            .td2 {
                // width: 24%;
                width: 30%;
                display: inline-block;
            }
            .td2_2 {
                width: 22%;
                // width: 26%;
                display: inline-block;
            }
            .td3 {
                width: 12%;
                display: inline-block;
            }
            .td4 {
                width: 18%;
                // width: 24%;
                display: inline-block;
            }
        }
    }
    .content {
        width: 100%;
        .table {
            width: 100%;
            display: inline-block;
            .tr1 {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                color: #323232;
                width: 100%;
                display: inline-block;
                text-align: center;
                // border-top: 0.5px solid #f4f4f4;
                .td1 {
                    width: 15%;
                    display: inline-block;
                    border-right: 0.5px solid #f4f4f4;
                    color: white;
                    background-color: #fe981e;
                    // .tag {
                    //   color: #ffffff;
                    //   display: inline-block;
                    //   width: 35px;
                    //   height: 16px;
                    //   font-size: 12px;
                    //   background-color: #fe981e;
                    //   line-height: 16px;
                    //   border-radius: 2px;
                    // }
                }
                .td2 {
                    width: 20%;
                    display: inline-block;
                }
                .td3 {
                    width: 20%;
                    text-align: left;
                    display: inline-block;
                }
            }
        }
    }
}
