body {
  background-color: #eee; 
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}
.reportDate {
  background: #fff;
  text-align: center;
  padding: 10px 0;
  color: #323232;
  font-size: 15px;
  border-top: 1px solid #f4f4f4;
  font-weight: bold;
}
.tipsText {
  color: #90959a;
  font-size: 12px;
  padding: 5px 0 0 12px;
  display: flex;
  align-items: center;
  .tipsImg {
    margin: 1px 2px;
    .img {
      width: 12px;
      height: 12px;
    }
  }
}

.tips {
  color: #90959a;
  font-size: 14px;
}
